
button {

    --ftSizeMain: calc( .45 * var(--hMainButton));

    position: relative;
    border-radius: var(--bRMainButton);
    box-shadow: 0px 2px 2px black;
    border: none;

    font-family: var(--ft1);
}

button.active {
    box-shadow: none;
    top: 1px;
}

.wideButton {
    background-color: var(--cToneic);
    width: 100%;
    height: var(--hMainButton);
    font-size: var(--ftSizeMain);
}

button.cancel {
    background-color: lightsalmon;
}