
.buttonTree {
    --marginTop: calc(.5 * var(--marginTopMainButtons));
    --padHorizontal: 1vh;
    --padVertical: 1vh;

    position: relative;
    top: 0px;
    transition: top 0.5s;

    border-radius: var(--bRMainButton);
}
.buttonTree:not(.treeRoot) {
    margin-top: var(--marginTopMainButtons);
}
.buttonTree.open:not(.treeRoot) {
    top: var(--marginTop);
}
.buttonTree .branches {
    height: 0px;
    overflow: hidden;
}
.buttonTree .branches > *:not(:first-child) {
    margin-top: var(--marginTopMainButtons);
}
.buttonTree button {
    font-size: var(--ftSizeMain);
    height: var(--hMainButton);
}
.buttonTree button:not(.mainButton) {
    margin-top: var(--marginTop);
    width: 100%;
}
.buttonTree button.open {
    border: 1px solid rgba(0,0,0,.4);
    border-bottom: none;
    box-shadow: none;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
.buttonTree .branches.open {
    border: 1px solid rgba(0,0,0,.4);
    border-top: none;
    padding: var(--padVertical) var(--padHorizontal) calc(2 * var(--padVertical));
    height: auto;
    border-bottom-right-radius: var(--bRMainButton);
    border-bottom-left-radius: var(--bRMainButton);
}