
#header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: var(--szLogoMini);
    margin-bottom: 1.5vh;
}
#header > * {
    height: var(--szLogoMini);
}

/* LOGO */
#header .logo {
    display: flex;
    align-items: center;
    flex-grow: 1;
}
#header .logo > * {
    height: var(--szLogoMini);
}
#header .logo .image {
    flex-basis: var(--szLogoMini);
}
#header .logo .text {
    margin-left: 1vw;
    display: flex;
    align-items: center;
    font-size: calc(.7 * var(--szLogoMini));
}


/* HAMBURGER */
#header .hamburger {
    flex-basis: var(--szLogoMini);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 2px;

    margin-left: 1.5vh;

    transition: height .5s, transform .5s, flex-basis .5s;
}
#header .hamburger > div {
    border-radius: 3px;
    background-color: var(--cToneic);
}
#header .hamburger.open {
    transform: rotate(-90deg);
}




/* USER */
#header .userLine {
    font-family: var(--ft2);
    flex-grow: 1;
    text-align: right;

    vertical-align: baseline;
}
#header .userLine .team span {
    font-weight: 700;
}
#header .userLine button.invisible {
    display: none;
}
#header .userLine button {
    font-size: 2vh;
    margin-right: 1.5vh;
    padding: .5vh 1vh;
    background-color: var(--cTeamButtons);    
}
