:root {

    --ft1: 'Open Sans';
    --ft2: 'Open Sans Condensed';
    --ft3: 'Rajdhani';

    --ftToneic: var(--ft3);
    --ftButton: var(--ft2);
    --ftUser: var(--ft2);
    --ftTeam: var(--ft2);
    --ftView: var(--ft1);
    --ftCross: var(--ft3);


    --szLogoMini: 4vh;
    --hHeaderBottom: 4.5vh;

    --pdContent: 1vh; 

    --hMainButton: 6vh;
    --bRMainButton: 5px;

    --marginTopMainButtons: 2vh;

    --zIndexCover: 10;


    --cToneic: rgba(59,211,47,.5);
    --cToneicSolid: rgba(56,120,53);
    --cBackApp:  rgba(200,250,225,1);
    --cAchtung: lightCoral;
    --cTeamButtons: wheat;

}



body {
    background-color: black;
    margin: 0px;
}
main {
    position: relative;
    min-height: 100vh;
}
main > div {
    z-index: 1;
    padding: var(--pdContent);
    position: absolute;
    top: 0%;
    left: 0%;
    width: calc(100% - 2 * var(--pdContent));
    background-color: var(--cBackApp);
}

#content {
    display: flex;
    flex-direction: column;
    min-height: calc(100% - 2 * var(--pdContent));
}



/* LOGO */
.logo .image {
    background-image: url(../images/logoToneic.png);
    background-size: cover;
}
.logo .text {
    font-family: var(--ftToneic);
}
