
#views {
    flex-grow: 1;
    position: relative;
}
#views .view {
    position: absolute;
    padding: inherit;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: var(--cBackApp);

    transition: opacity 1s;
}
.view.on {
    opacity: 1;
}
.view.off {
    opacity: 0;
    animation: viewDisappear 1s forwards;
}
@keyframes viewDisappear {
    0% {
        /* opacity: 1 */
    }
    90% {
        /* opacity: 0; */
    }
    100% {
        z-index: 0;
    }
}



/* HOME */
#hero {
    font-family: var(--ft1);
    font-size: 2vh;
    text-align: center;
}
#hero p {
    margin: 1vh;
}

#home .wideButton {
    display: block;
    width: 85%;
    margin: 0px auto;
}
#home .wideButton:not(:first-child) {
    margin-top: var(--marginTopMainButtons);
}

#teamButtons {
    margin-top: var(--marginTopMainButtons);
}




/* MENU */
#menu {

    --hButtonMenu: 6vh;
    --wBorderButtonMenu: 1px;
    --mButtonMenu: 0px;
    
    height: 0px;
    transition: height .5s;
    overflow: hidden;

}
#menu .curtain {
    display: flex;
    flex-direction: column;
    padding: 2vh;
}
#menu.open {
    --hOpen: 1px; /* From JS */
    height: var(--hOpen);
    /* height: calc(var(--nVisibleButtons) * (var(--hButtonMenu) + 2 * var(--wBorderButtonMenu) + var(--mButtonMenu))); */
}

#menu button {

    box-shadow: none;
    border-radius: 0px;;

    flex-basis: var(--hButtonMenu);
    margin-top: var(--mButtonMenu);
    border-top: var(--wBorderButtonMenu) solid rgba(0,0,0,.6);
}
#menu button:last-child {
    border-bottom: var(--wBorderButtonMenu) solid rgba(0,0,0,.6);
}
#menu button.invisible {
    display: none;
}



/* TONEIC */
#toneic {
    font-family: var(--ft2);
}
#toneic .timeLeft {
    text-align: center;
}